<div class="container">
  <%= react_component "WrappedTodo",
                      treeData: @tree_data,
                      creator_id: current_user.id,
                      house_id: current_house.id
  %>
</div>


