<div class="bg-ligh">
  <%= react_component "Todo",
                      treeData: @tree_data,
                      creator_id: current_user.id,
                      house_id: current_house.id
  %>
</div>


