@import "bootstrap";
@import "font-awesome";

.full-btn{
  width: 100% !important;
}

.alert-alert{
  @extend .alert-danger;
}

label {
  color: $white;
}

.top_banner_form {
  form {
    width: 100%;
  }

  .btn {
    width: 100% !important;
  }
}

.house-info {
  h1 {
    color: $white;
    text-align: center;
  }
}